body {
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.jumbotron {
  border: 3px solid black;
  margin-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-style: italic;
  padding-bottom: 150px;
}

h4 {
  border: 3px solid black;
  background-color: rgb(64, 147, 224);
  color: white;
  font-size: 20px;
}

p {
  font-weight: bolder;
}

.btn {
  background-color: rgb(64, 139, 224);
  font-weight: bold;
  border: 2px solid black;
  color: white;
  font-size: 14px;
}

.card {
  border: 3px solid black;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

.navbar-custom {
  background-image: url(./../css/tilespt.jpg);
  -webkit-box-shadow: #120e2b 0px 1px 2px 0px, #120e2b 0px 1px 3px 2px;
  box-shadow: #120e2b 0px 1px 2px 0px, #120e2b 0px 1px 3px 2px;
}
